*  {
    box-sizing: border-box;
}

.logo {
    
    padding: 5px 5px;
    width:50%;
    height: 100%;
    position: relative;
    margin:0;
    height: 4;
    color: white;
}
.logoup img { 
    height: 70px;
    width: 70px;
}
.logodown img { 
    height: 80px;
    width: 80px;
}

.font-link h1{
    font-family: 'Faster One', cursive;
}



.logonet img {
    height:120px;
    width:120px;
  
}
.logonet img:hover {
    opacity: 0.3;  
}
.logonet h4:hover {
    color: yellow; 
}


.logodown img { 
    height: 50px;
    width: 50px;
}

.container{
    color:white;
    /* position:absolute; */
    /* display: flex; */
    transform:translate(50%, 10%);
    top:0%;
    left:0%;
    text-align:center;
    
} 

.container h3 {
    color:#fff;
}

